@using NetBanking.Core.Application.ViewModels.Users;
@model ICollection<UserViewModel>;

@{
    ViewData["Title"] = "Index";
}

<head>
    <script src="https://kit.fontawesome.com/7302c44b99.js" crossorigin="anonymous"></script>
</head>

<div class="container-fluid">
    <div class="col-10 offset-1">

        <a asp-controller="Admin" asp-action="Register " class="btn btn-primary">Register a new patient</a>

        <div class="card mt-4">
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Last Name</th>
                            <th>Identification</th>
                            <th>Status</th>
                            <th>Roles</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ImageURL</td>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.Email</td>
                                <td>@item.IsActive</td>
                                <td>
                                    @foreach (var role in @item.Roles)
                                    {
                                       @role[0]
                                    }
                                </td>
                                <td>
                                    <a asp-route-Id="@item.Id" asp-controller="Patient" asp-action="Edit"><i class="fa-solid fa-pencil fa-sm" style="color: #19191a;"></i></a>
                                    <a asp-route-Id="@item.Id" asp-controller="Patient" asp-action="Delete"><i class="fa-regular fa-trash-can ms-2"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>