@using NetBanking.Core.Application.ViewModels.Users;
@model ICollection<UserViewModel>;

@{
    ViewData["Title"] = "Index";
}

<head>
    <script src="https://kit.fontawesome.com/7302c44b99.js" crossorigin="anonymous"></script>
</head>

<div class="container-fluid">
    <div>

<a class="btn btn-primary" asp-controller="Admin" asp-action="Register">Register a new Client</a>
        <div class="card mt-4">
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Identification</th>
                            <th>Is Active</th>
                            <th>Roles</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.Email</td>
                                <td>@user.IdCard</td>
                                <td>@user.IsActive</td>
                                <td>
                                    @foreach (var role in @user.Roles)
                                    {
                                       @role[0]
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-warning" asp-route-Id="@user.Id" asp-controller="Admin" asp-action="Edit"><i class="fa-solid fa-pencil fa-sm" style="color: #19191a;"></i></a>
                                    <a class="btn btn-danger" asp-route-Id="@user.Id" asp-controller="Admin" asp-action="Remove"><i class="fa-regular fa-trash-can"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>