@using NetBanking.Core.Application.ViewModels.Transaction;
@model ExpressPayViewModel;

<form asp-action="ExpressPay" method="post">
    <label class="form-label" asp-for="@Model.SaveTransactionViewModel.EmissorProductId">Desde qué cuenta hago el pago</label>
    <select class="form-select" asp-for="@Model.SaveTransactionViewModel.EmissorProductId">
        @foreach(var item in Model.AllProducts.SavingsAccounts)
        {
            <option value="@item.Id">Savings account: @item.Id</option>
        }
        @foreach (var item in Model.AllProducts.CreditCards)
        {
            <option value="@item.Id">Credit card: @item.Id</option>
        }
    </select>

    <br />

    <label class="form-label" asp-for="@Model.SaveTransactionViewModel.Amount">Cantidad</label>
    <input type="number" asp-for="@Model.SaveTransactionViewModel.Amount" />
    <br />

    <label class="form-label" asp-for="@Model.SaveTransactionViewModel.ReceiverProductId">Cuenta destino</label>
    <input type="number" asp-for="@Model.SaveTransactionViewModel.ReceiverProductId" />
    <br />
    <input type="submit" />
</form>