@using NetBanking.Core.Application.ViewModels.Client;
@model GetAllProductsByClientViewModel;

@if (Model.Loans.Count != 0)
{
    <h1>Prestamos</h1>
    <table class="table">
        <tr>
            <th>
                Código
            </th>
            <th>
                Deuda
            </th>
        </tr>
        @foreach (var item in Model.Loans)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Amount
                </td>
            </tr>
        }
    </table>
}

@if (Model.SavingsAccounts.Count != 0)
{
    <h1>Cuentas de ahorro</h1>
    <table class="table">
        <tr>
            <th>
                Código
            </th>
            <th>
                Monto
            </th>
        </tr>
        @foreach (var item in Model.SavingsAccounts)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Amount
                </td>
            </tr>
        }
    </table>
}

@if (Model.CreditCards.Count != 0)
{
    <h1>Tarjetas de Crédito</h1>
    <table class="table">
        <tr>
            <th>
                Código
            </th>
            <th>
                Deuda
            </th>
        </tr>
        @foreach (var item in Model.CreditCards)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Amount
                </td>
            </tr>
        }
    </table>
}


@if (Model.CreditCards.Count == 0 && Model.SavingsAccounts.Count == 0 && Model.Loans.Count == 0)
{
    <h1>No hay productos registrados</h1>
}


